<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18890479583-s2go7rom8d17jfgbd1c6jcsnpat75ugd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18890479583-s2go7rom8d17jfgbd1c6jcsnpat75ugd</string>
	<key>API_KEY</key>
	<string>AIzaSyBGZa-P0PgDwZJ8zUc2BdhYZvrTe9kmkEw</string>
	<key>GCM_SENDER_ID</key>
	<string>18890479583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appPlan</string>
	<key>PROJECT_ID</key>
	<string>planification-8efe7</string>
	<key>STORAGE_BUCKET</key>
	<string>planification-8efe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18890479583:ios:9f34163ca595f11607966a</string>
</dict>
</plist>